.section1 {
    margin-top: 90vh;
}

.grid__ela {
    grid-column: 2/9;
}

.grid__elb {
    grid-column: 2/8;
}

.grid__elc {
    grid-column: 8/14;
}

.grid__ell {
    grid-column: 4/12;
    grid-row: 3;
}