.header__section {

    img {
        display: none;
    }

    h1 {
        font-size: 74px;
        line-height: 80px;
        margin: 0;
        margin-left: 18px;
        font-family: "museo-sans", sans-serif;
        font-weight: 100;
        font-style: normal;
        padding-top: 18px;
        padding-bottom: 29px;
        margin-right: 65px;
    }

    .header__bouton {
        display: none;
    }

}

@media(max-width: 1279px) {
    .topnav__burger {
        z-index: 1000;
        cursor: pointer;
        position: absolute;
        border: none;
        background-color: transparent;
        right: 3%;
        top: 4%
    }

    .topnav__liste {
        margin: 0;
        padding: 0;
        z-index: 99;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        transition: all .6s cubic-bezier(1, .19, .02, .99);
        transform: translateY(0);
        display: inline-block;
        list-style: none;
        background-color: black;

    }

    .topnav__el {
        font-family: "museo-sans", sans-serif;
        font-size: 18px;
        line-height: 29px;
        font-weight: 100;
        font-style: normal;
        padding: 60px 0px;
        text-align: center;
        margin-right: 15%;
        transform: translateY(0%);
        opacity: 0;
        transition: all .6s cubic-bezier(1, .19, .02, .99);
    }

    .topnav--open .topnav__liste {
        transform: translateX(-80%);
    }

    .topnav--open .topnav__el {
        transform: translateY(0);
        opacity: 1;
    }

    .topnav--open .topnav__el:nth-child(1) {
        padding-top: 150px;
        transition-delay: 0.5s;
    }

    .topnav--open .topnav__el:nth-child(2) {
        transition-delay: 0.7s;
    }

    .topnav--open .topnav__el:nth-child(3) {
        transition-delay: 0.9s;
    }

}

@media(min-width: 1280px) {

    .topnav {

        .topnav__burger {
            display: none;
        }

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 32px 144px;

            li {
                cursor: pointer;
            }
        }

        a {
            text-decoration: none;
            color: white;

        }

        .topnav__el>a {

            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                margin: -5px 0;
                background-color: white;
                visibility: hidden;
                transform: scaleX(0);
                transition: all 0.4s ease-in-out 0s;
            }

            &:hover:before {
                visibility: visible;
                transform: scaleX(1);
            }

        }

    }

    .header__section {

        border-radius: 5px;
        position: absolute;
        bottom: 5%;
        top: 12%;
        right: 2.35%;
        left: 2.35%;


        display: flex;
        align-items: center;

        img {
            display: block;
            margin: 32px;
            width: auto;
            max-height: 834px;
            height: 90%;
            max-width: 575px;
        }

        h1 {
            font-size: 131px;
            line-height: 165px;
            margin: 0;
            margin-left: 61px;
            margin-top: -7%;
            margin-right: 31px;
            font-family: "museo-sans", sans-serif;
            font-weight: 100;
            font-style: normal;
        }

        .header__bouton {
            border: solid 1px white;
            border-radius: 5px;
            position: absolute;
            color: white;
            text-decoration: none;
            width: 175px;
            height: 44px;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 2%;
            bottom: 3%;
            transition: all 0.5s;

            &:hover {
                transform: scale(0.95);

            }
        }

    }

}