.grid__elq {
    margin: 29px 10px 0px;
    padding: 0px;
    border-radius: 5px;
}

.grid__elr {
    padding: 0px;
    margin: 29px 10px 0px;
    border-radius: 5px;
}

.grid__els {
    margin: 29px 10px 0px;
    padding: 0px;
    border-radius: 5px;
}


.grid__elu {
    grid-column: 2/8;
    font-weight: 500;

}

@media(min-width:1280px) {

    .grid__elo {
        grid-column: 2/10;
    }

    .grid__elp {
        grid-column: 2/8;
        height: fit-content;
    }

    .grid__elq {
        grid-column: 8/14;
        margin-top: 51px;
        padding: 20px;
        border-radius: 5px;
    }

    .grid__elr {
        grid-column: 2/8;
        padding: 20px;
        margin-top: -51px;
        height: fit-content;
        border-radius: 5px;
    }

    .grid__els {
        grid-column: 8/14;
        margin-top: 51px;
        grid-row: 3/5;
        padding: 20px;
        height: fit-content;
        border-radius: 5px;
    }


    .grid__elu {
        grid-column: 2/8;
        font-weight: 500;

    }

}