@import '../../node_modules/modern-normalize/modern-normalize';

@import 'utils/variables';
@import 'components/type';
@import 'components/header';
@import 'components/firstsection';
@import 'components/secondsection';
@import 'components/thirdsection';

body {
    background-color: #2B2B2B;
    color: white;
    font-size: 20px;
    font-family: "museo-sans", sans-serif;
    font-weight: 100;
    font-style: normal;

    .secondcolor {
        background-color: #232323;
    }

    .gridcontainer {
        display: grid;
        grid-template-columns: 0px repeat(12, 1fr) 0px;
        column-gap: 32px;
    }

    .gras {
        font-weight: 500;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        margin-top: 51px;
    }

    h2 {
        margin: 0;
        padding-top: 102px;
        font-size: 51px;
        font-family: "museo-sans", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    p {
        margin: 0;
        margin-top: 51px;
    }

    h3 {
        margin: 0;
        font-size: 32px;
        font-family: "museo-sans", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .sous-titre {
        font-size: 22px;
    }

    .bulle-info {
        margin-top: 20px;
    }

}